@import 'layout';
@import 'components';

body{
    background-color: #C7A98A;
}
.section1{
    height: 100vh;
    overflow: hidden;
    position: relative;
    }
    .imginicio{
        width: 100%;
    
    }
    .textoinicio{
        background-color: #C7A98A;
        border: solid 2px #C7A98A;    
        padding: 2%;
        position: absolute;
        right: 32%;
        top: 60%;
        
    }
    .textosubmenu{
        color: black;
        font-size: 300%;
        font-weight: 100;
        text-align: center;
    }
    
    .ubi{
        text-decoration: overline;
        
    }
    
    .ubi:hover{
        text-decoration: none;
    }
    
    .tab{
        display: flex;
        justify-content: space-around;
    }
    
    .section2 {
        
        div{
        display: flex;
        flex-wrap: wrap;
        font-size: large;
        justify-content: space-around;
        }
    
        #city1{
            left: -3%;
            position: absolute;
            top: 165%;
            transform: rotate(-90deg);
        }
        #city2{
            position: absolute;
            right: -3%;
            top: 165%;
            transform: rotate(90deg);
    
        }
        .gifs img{
            display: flex;
            justify-content: space-around;
            height: 600px;

            width: 600px;
            }
    }
@media(max-width:1600px){

    .textoinicio{
        right: 30%;
    }
}
@media(max-width:1500px){

    .textoinicio{
        right: 28%;
    }
    .section{
    #city1{
        left: -100px;
    }
    #city2{
        right: -100px;
    }
}
}
@media(max-width:1400px){
    .section{
        #city1{
            left: -8%;
        }
        #city2{
            right: -8%;
        }
    }
    .textoinicio{
        right: 26%;
    }
}
@media(max-width:1300px){

    .textoinicio{
        right: 24%;
    }
}
@media(max-width:1100px){
    .textoinicio{
        right: 22%;
        top:50%
    }
}
@media(max-width:950px){
    .textoinicio{
        right:24%;
        top:47%;
    }
}
@media(max-width:850px){
    .textoinicio{
        right:25%;
        top:45%;
    }
}
@media(max-width:800px){
    .textoinicio{
        right: 20%;
        top:40%;
    }
}
@media(max-width:750px){
    .textoinicio{
        top:34%
    }
}
@media(max-width:700px){
    .textoinicio{
        right: 18%;
    }
}

@media(max-width:650px){
    .textoinicio{
        right: 16%;
        top:30%
    }
}

@media(max-width:600px){
    .textoinicio{
        right: 10%;
        top:26%
    }
}
@media(max-width:550px){
    .textoinicio{
        right: 7%;
        top:22%
    }
}

