@import 'components';
@import 'base';
@import 'layout';



section{
    padding-bottom: 11.5%;
    padding-top: 6%;
    text-align: center;
    padding-left: 20%;
    padding-right: 24%;
    img{
        width: 15%;
        height: 3%;
    }
    span{
        font-size: 100%;
        width: 30%;   
    }
    article{

        padding: 2%;
        img{
            width: 20px;

        }
    }
    h3{
        font-size: xx-large;
    }
}