@import 'components';
@import 'base';
@import 'layout';



section{
    padding-bottom: 11.5%;
    padding-top: 10.95%;
    text-align: center;
    padding-left: 20%;
    padding-right: 24%;
    img{
        width: 15%;
        height: 15%;
    }
    span{
        font-size: 100%;
        width: 30%;   
    }
    h3{
        font-size: xx-large;
    }
}